@model TARge21House.Models.House.HouseCreateUpdateViewModel

<h1>Add</h1>

<div>
	<form method="post" enctype="multipart/form-data">
		<input asp-for="Id" type="hidden" />
		<input asp-for="CreatedAt" type="hidden" />
		<input asp-for="ModifiedAt" type="hidden" />

		<div class="form-group row">


			<label asp-for="Address" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Address" class="form-control" />
			</div>

			<label asp-for="City" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="City" class="form-control" />
			</div>

			<label asp-for="Floors" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Floors" class="form-control" />
			</div>

			<label asp-for="Area" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Area" class="form-control" />
			</div>

			<label asp-for="Price" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Price" class="form-control" />
			</div>
		</div>
		
		@if (Model.Id.HasValue)
		{
			<input asp-action="Update" asp-controller="houses" type="submit" class=" btn btn-primary " value="Update" />
		}
		else
		{
			<input asp-action="Create" asp-controller="houses" type="submit" class=" btn btn-primary " value="Add" />
		}

		<a asp-action="index" class="btn btn-success">Back</a>

	</form>
</div>